<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:each="categoria : ${categoriaActual}" >
    <head>
        <title th:text="${categoria.nombre}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <th:block th:insert="layouts/layout_barra_menu :: fragmento-menu"></th:block>
            <h1 th:text="${categoria.nombre}"></h1>
            <form th:each="categoriaunica : ${categoriaActual}" th:action="@{/productos/{nombre}(nombre=${categoriaunica.nombre})}" autocomplete="off" method="GET">
                <th:block th:insert="layouts/layout_filtros_busqueda :: fragmento-marcas"></th:block>
                <th:block th:insert="layouts/layout_filtros_busqueda :: fragmento-precio"></th:block>
                <button type="submit" onclick="filtrarProductos()"> Filtrar por precios</button>
                <!--  --> 
                <th:block th:insert="layouts/layout_filtros_busqueda :: fragmento-oferta"></th:block>
                <!-- <button type="submit" onclick="filtrarProductos()">Filtrar</button> -->
            </form>
            <th:block th:insert="layouts/layout_cuadros_productos :: fragmento-productos"></th:block>
            <th:block th:insert="layouts/layout_botones_paginacion :: fragmento-paginacion"></th:block>
        </div>
        <script type="text/javascript" th:inline="javascript" th:src="@{/productos_categoria.js}"></script>
    </body>
</html>
